@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


html{
    height: 100vh;
    background-color: #0f0f0f;
    font-family: 'Inter', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 111px;
}

nav ul, li{
    display: flex;
    margin-right: 60px;
}

nav ul li a{
    padding: 5px;
    list-style: 1px red;
    font-weight: 500;
}

.logo-container img{
    width: 97px;
    margin-left: 120px;   
}

.planos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

h1{
    margin: 30px 0 40px 0;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 5px;
}

.planos .container{
    display: flex;
    gap: 90px;
    margin-top: 50px;
}

.planos .container .shield{
    width: 250px;
    height: 420px;
    border-radius: 20px 20px;
    background-color: #323443;
    border: 3px solid #3c3d50;
}

.planos .container .shield .box .desc{
    display: flex;
    justify-content: center;
    width: 220px;
    text-align: center;
}

.planos .container .shield .desc2{
   justify-content: center;
    width: 210px;
    margin: 30px 20px;
    padding: 0 10px;
    text-align: center;
}

.planos .container .shield.act1{
    border: 3px solid #dacdbc;
}

.planos .container .shield.act2{
    border: 3px solid #dddd6a;
    box-shadow: 1px 2px 6px 1px #dddd6a;
}

.planos .container .shield.act3{
    border: 3px solid #a73212;
}

.planos .container .shield img{
    margin: -55px 0 0 70px ;
    width: 111px;
}

.planos .container .shield .title{
    text-align: center;
    margin-top: 20px;
}

.planos .container .shield .title h2{
    font-weight: 500;
}

.planos .container .shield p{
    color: #a7a6a4;
    margin-top: 20px;
    text-align: justify;
    padding: 10px;
    font-size: 17px;
}

.planos .container .shield .box{
    display: flex;
    justify-content: center;
}

.planos .container .shield .asset12{
   
}

.planos .container .shield .price{
    font-size: 32px;
    color: white;
    font-weight: 900;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 2px;
}

.planos .container .shield .price span{
    font-size: 12px;
    font-weight: 700;
}

.planos .container .shield .price.text-edit{
    margin-top: 95px;
}

.planos .container .shield .price.text-edit1{
    margin-top: 85px;
}

.planos .container .shield .btn{
    display: inline-block;
    margin: 10px 62px;
    padding: 8px 6px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #2f1370;
    box-shadow: 1px 2px 6px 1px #190a3b;
    font-size: 17px;
    font-weight: bolder;
}

.planos .container .shield .btn:hover{
    background-color: #3d1991;
    transition: 0.2s ease-in-out;
}

.gif{
    color: white;
    display: flex;
    justify-content: center;
}

.gif .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 195px;
    width: 629px;
    margin-top: 120px;
    background-color: #323443;
    border-radius: 20px;
}

.gif .box h1{
    margin-top: 50px;
}

.gif .box i{font-size: 50px;;}

.gif .box a{
    display: inline-block;
    margin: 5px 90px;
    margin-top: -10px;
    padding: 5px 6px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #2f1370;
    box-shadow: 1px 2px 6px 1px #190a3b;
    font-size: 20px;
    font-weight: 500;
}

.gif .box a:hover{
    background-color: #3d1991;
    transition: 0.3s ease-in-out;
}

.faq{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    color: white;
    

}


.faq .faq-box p{
    width: 1000px;  
    font-size: 14px;
    color: #a3a3a3;
}

.faq span{
    font-size: 16px;
    font-weight: 900;
    color: #ffffff;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

footer .logo-container a img{
    width: 200px;
}
