html{
    height: 100vh;
    background-color: #0f0f0f;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

nav a img{
    
    width: 97px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1{
    color: #D7D768;
    font-size: 40px;
    letter-spacing: 1px;
}

.img2{
    height: 80px;
    padding: 0 20px;
}

.container2{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    letter-spacing: 2px;
    color: white;
}

.container2.font{
    font-size: 22px;
    text-align: center;
}

.container2 img{
    margin-top: 30px;
}