@media (max-width: 1110px){

    .hero .image{
      width: 900px;
      height: 400px;
      margin-top: 20px;
    }

    .club h1{
        font-size: 38px;
    }

    .club .box{
        width: 800px;
        height: 260px;
    }

    .club .box h2{
        font-size: 18px;
        font-weight: 500;
    }

    .club .box p{
      font-size: 12px;
      width: 150px;
    }
    
    .club .box .id{
        width: 150px;
    
    }

    .club .box .text{
        width: 180px;
        height: 10px;
    }

    .club .btn-club{
       font-size: 15px;
    }
}

@media (max-width: 912px){

    .hero{
        height: 450px;
    }
    .hero .image{
        width: 750px;
        height: 350px;
        margin-top: 20px;
      }
}

@media (max-width: 800px){

    .hero{
       height: 370px;
    }

    .hero .image{
        width: 650px;
        height: 300px;
        margin-top: 20px;
      }

    .club .box{
        
        width: 650px;
        height: 220px;
    }

    .club .box h2{
        font-size: 18px;
        font-weight: 500;
    }

    .club .box p{
      font-size: 10px;
      width: 140px;
    }
    
    .club .box .id{
        width: 140px;
    
    }

    .club .box .text{
        width: 180px;
        height: 10px;
        margin-left: 20px;
    }

    .club .btn-club{
       font-size: 15px;
    }
}

@media (max-width: 680px){
    .hero{
        height: 370px;
     }
 
     .hero .image{
         width: 550px;
         height: 270px;
         margin-top: 20px;
    }

    .club{
        height: 650px;
    }

    .club .box{
        flex-direction: column;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        gap: 30px;
    }

    .club .box h2{
        font-size: 18px;
        font-weight: 500;
        
    }

    .club .box p{
      font-size: 10px;
      width: auto;
      margin-top: 8px;
    }
    
    .club .box .id{
        width: auto;
    
    }

    .club .box .text{
        width: 180px;
        height: 10px;
        margin-left: 20px;
    }

    .club .btn-club{
       font-size: 18px;
       padding: 8px 10px;
    }
    
}

@media (max-width: 627px){

    nav{
        flex-direction: column;
        height: auto;
        background-color: #080808;
    }
    
    nav ul, li{
        display: block;
        text-align: center;
        margin-right: 0px;
        margin-top: 15px;
        padding: 10px;
    }
    
    nav ul li a{
        padding: 5px;
    }
    
    .logo-container img{
        margin-left: 0px;
        margin-top: 10px;  
    }

    .hero .image{
        margin-top: 50px;
    }

    .jobs{
        background-color: #080808;
        height: 650px;
    }

    .jobs h1{
        width: 350px;
        text-align: center;
    }
    
    .jobs .container{
        flex-direction: column;
        gap: 10px;
        border-radius: 30px 30px 30px 30px;
        width: 250px;
        height: 420px;
        padding: 0;
    
    }

    .jobs .container .legenda{
        font-size: 18px;
        letter-spacing: 2px;
        width: 200px;
        text-align: center;
        margin-bottom: 30px;
    }

    .jobs a{
        display: block;
        font-size: 18px;
        padding: 8px 5px;
        margin-top: -20px;
        margin-left: 10px;
        
    }

    footer{
        flex-direction: column;
    }

    footer ul, li{
        display: block;
        margin-right: 0 ;
        text-align: center;
    }
}

@media (max-width: 530px) {

    .hero{
        background: url(../images/pluma_2_resized.png) center center no-repeat;
        height: 340px;
    }
    .hero .image{
        display: none;
        margin-top: px;
        width: 80%;
        
        background: url(../images/pluma_2_resized.png) center center no-repeat;
        border-radius: 10px;
        
    }
}