html{
    height: 100vh;
    background-color: #0f0f0f;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    height: 111px;
}

nav ul, li{
    display: flex;
    margin-right: 60px;
}

nav ul li a{
    padding: 5px;
    list-style: 1px red;
    font-weight: 500;
}

.logo-container img{
    width: 97px;
    margin-left: 120px;   
}

.hero{
    display: flex;
    justify-content: center;
    height: 580px;
}

.hero .image{
    width: 1080px;
    height: 500px;
    background: url(../images/pluma_2.png) center center no-repeat;
    border-radius: 10px 130px 10px 130px;
    
}

.club{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    height: 600px;
}

.club h1{
    margin-bottom: 50px;
    color: white;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 48px;
}

.club .box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #323443;
    width: 1000px;
    height: 300px;
    border-radius: 90px 20px 90px 20px;
    color: white;
    padding: 0 50px;
}

.club .box p{
    color: #9c9c9c;
    margin-top: 30px;
    height: 100px;
    width: 270px;
}

.club .box .id{
    width: 230px;

}

.club .box h2{
    font-size: 22px;
    font-weight: 500;
}


.club .box .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    height: 10px;
}

.club .btn-club{
    margin-top: -20px;
    font-size: 20px;
    padding: 8px 30px;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: #2f1370;
    font-weight: 700;
    letter-spacing: 1px;
}

.club .btn-club:hover{
    background-color: #3d1991;
}

.jobs{
    background-color: #080808;
    height: 500px;
}

.jobs .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    border-radius: 20px 20px 90px 20px;
    background-color: white;
    width: 600px;
    height: 220px;
    padding: 20px 30px;

}

.jobs .container img{
    border-radius: 120px 120px 120px 120px;
    margin-left: 20px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);    
}

.jobs .container .legenda{
    font-size: 18px;
    letter-spacing: 2px;
    width: 300px;
}

.jobs a{
    display: block;
    font-size: 18px;
    padding: 8px 10px;
    margin-top: -20px;
    margin-left: 10px;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    background-color: #2f1370;
    font-weight: 700;
    letter-spacing: 1px;
}

.jobs a:hover{
    background-color: #3d1991;
}

.jobs .container .legenda span{
    color: #3d1991;
    font-size: 20px;
    font-weight: 900;
}



.jobs .container .shield{
    width: 250px;
    height: 420px;
    background-color: #0f0f0f;
    box-shadow: 1px 1px 1px black;
    border-radius: 20px 20px;
}

.jobs .container .shield p{
    text-align: justify;
    padding: 10px 10px;
    color: white;
}

.jobs .container .shield .img{
    height: 280px;
    border-radius: 20px 20px;
}

.jobs .container .shield img{
    border-radius: 20px 20px 0 0;
}

/* .jobs .container .shield .img.job1{
    background: url(../images/job1.jpeg) center center no-repeat;
} */

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    height: 160px;
}

footer ul, li{
    display: flex;
    margin-right: 60px;
}

footer ul li a{
    padding: 5px;
    list-style: 1px red;
}

i{
    position: fixed;
    font-size: 40px;
    background-color: #25d366;
    border-radius: 90px;
    bottom: 40px;
    right: 20px;
    color: white;
    padding: 10px;
    z-index: 1000;
}
